:root {
    --black: #000000;
    --gray-dark: #333333;
    --gray: #454545;
    --gray-light: #858585;
    --white: #ffffff;
    --red: #e71d36;
    --orange: #f86624;
    --yellow: #f9c80e;
    --green: #90be6d;
    --blue: #1982c4;
}
