@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --good: var(--green);
        --neutral: var(--blue);
        --bad-slightly: var(--orange);
        --bad: var(--red);

        --background-color: var(--gray-dark);
        --border-color: var(--gray);
        --text-heading-color: var(--white);
        --text-paragraph-color: var(--white);

        --watermark: var(--gray-light);

        --drop-shadow-color-dynamic: var(--gray);
        --drop-shadow-color-static: var(--black);
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --good: var(--green);
        --neutral: var(--blue);
        --bad-slightly: var(--yellow);
        --bad: var(--red);

        --background-color: var(--white);
        --border-color: var(--gray-light);
        --text-heading-color: var(--gray-dark);
        --text-paragraph-color: var(--black);

        --watermark: var(--gray-light);

        --drop-shadow-color-dynamic: var(--gray-light);
        --drop-shadow-color-static: var(--gray-light);
    }
}

/* System theme agnostic parts */
:root {
    /* Colors */
    --information-text-color: var(--neutral);
    --information-background-color: var(--background-color);

    --success-text-color: var(--good);
    --success-background-color: var(--background-color);

    --warning-text-color: var(--bad-slightly);
    --warning-background-color: var(--background-color);

    --error-text-color: var(--bad);
    --error-background-color: var(--background-color);

    /* Fonts */
    --font-heading: 'Open Sans', sans-serif;
    --font-paragraph: 'Open Sans', sans-serif;

    /* Proportions */
    --margin-small: 1%;
    --margin-medium: 5%;
    --margin-large: 10%;

    --border-width: 2px;
    --border-radius-sharp: 2px;
    --border-radius-blunt: 4px;
    --border-radius-round: 8px;

    --padding-small: 0.25em;
    --padding-medium: 1em;
    --padding-large: 2.5em;

    --icon-size-small: 1em;
    --icon-size-medium: 2em;
    --icon-size-large: 3em;

    --font-size-small: 0.67em;
    --font-size-medium: 1em;
    --font-size-large: 1.5em;

    --heading-size-1: 2em;
    --heading-size-2: 1.5em;
    --heading-size-3: 1.17em;
    --heading-size-4: 1em;
    --heading-size-5: 0.83em;
    --heading-size-6: 0.67em;

    /* Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Filters */
    --drop-shadow-static: drop-shadow(0px 2px 2px var(--drop-shadow-color-static));
    --drop-shadow-dynamic: drop-shadow(0px 2px 0px var(--drop-shadow-color-dynamic));
}
